# .gitignore

# Python
__pycache__/
*.py[cod]
#*.sqlite3

# Environments
env/
.venv/

ENV/

# Django
*.log
*.pot
*.pyc
#db.sqlite3

# VS Code / Cursor
.vscode/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py
!tree_menu/migrations/__init__.py
!tree_menu/migrations/0001_initial.py

# Static/media (optional)
staticfiles/
media/
