{% extends "tree_menu/base.html" %}

{% block content %}
<h1>Мобильная Разработка</h1>
<div class="service-content">
    <h2>Решения для Мобильной Разработки</h2>
    <p>Мы специализируемся на создании мощных мобильных приложений для различных платформ:</p>
    <ul>
        <li>Разработка iOS приложений</li>
        <li>Разработка Android приложений</li>
        <li>Кроссплатформенная разработка</li>
        <li>Нативные и гибридные приложения</li>
        <li>Поддержка мобильных приложений</li>
    </ul>
    <p>Наша команда мобильной разработки обеспечивает высочайшие стандарты производительности и пользовательского опыта.</p>
</div>
{% endblock %} 