{% extends "tree_menu/base.html" %}

{% block content %}
<h1>Веб-разработка</h1>
<div class="service-content">
    <h2>Наша экспертиза в веб-разработке</h2>
    <p>Мы предлагаем комплексные решения веб-разработки, включая:</p>
    <ul>
        <li>Полнофункциональные веб-приложения</li>
        <li>Платформы электронной коммерции</li>
        <li>Системы управления контентом</li>
        <li>Прогрессивные веб-приложения (PWA)</li>
        <li>Индивидуальные веб-решения</li>
    </ul>
    <p>Наша команда использует новейшие технологии и лучшие практики для создания высококачественных веб-приложений.</p>
</div>
{% endblock %} 